body {
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat";
}

// Colors
$black: #2E2E2E;
$blue: #0597E5;
$darkblue: #002A52;
$lightblue: #D8EFFB;
$lightgray: #F4F4F4;
$gray: #939393;
$purple: #401F68;
$lightpurple: #F6F4F9;
$green: #10CB82;

// Type

h1 {
    font-size: 3em;
    font-weight: 800;
    margin: 0;
    color: $black;
}

h2 {
    font-size: 2em;
    margin: 0;
}

h3 {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    color: $gray;
    text-transform: uppercase;
}

h4 {
    font-size: .75em;
    font-weight: 400;
}

p {
    margin: 0;
    line-height: 1.5;
    color: $black;
}

.text {
    font-size: 1.2em;
}

.sm-text {
    font-size: 1em;
}

// Atoms

@mixin btn($color: $blue) {
    .btn {
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-weight: 700;
        padding: 1em;
        background-color: $color;
        box-sizing: border-box;
        border-radius: 4px;
        align-self: flex-start;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

        &:hover,
        &:focus {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            background-color: lighten($color, 10%);
        }

        &:focus {
            outline: none;
        }

        &:active {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }
    }
}

@include btn($blue);


// Grid Layout
.grid {
    display: grid;
    justify-items: stretch;
    grid-template-columns: minmax(20px, 1fr) repeat(12, minmax(0, 90px)) minmax(20px, 1fr);
    grid-gap: 20px;
}

// Sections - Introduction
.section-introduction {
    padding: 100px 0px;

    .avatar {
        grid-column: 2 / span 12;
        overflow: hidden;
        border-radius: 100%;
        justify-self: center;
        img {
            max-width: 200px;
            display: block;
            width: 100%;
        }
    }

    .name {
        grid-column: 2 / span 12;
        text-align: center;
    }

    .bio {
        grid-column: 5 / span 6;
        text-align: center;

        @media all and (max-width: 800px) {
            grid-column: 2 / span 12;
        }
    }

    // .nav-links {
    //     grid-column: 5 / span 6;
    //     display: grid;
    //     width: 100%;        grid-template-columns: 1fr 1fr;
    //     grid-gap: 20px;
    //     @media all and (max-width: 500px){
    //         grid-column: 1/-1;
    //         grid-template-columns: minmax(20px, 1fr) 1fr 1fr minmax(20px, 1fr);
    //         .btn{
    //             grid-column: 2/ span 2;
    //             margin: 0;
    //         }
    //     }
    // }

}


// Section - Toolset
.section-toolset {
    background-color: $lightgray;
    padding-bottom: 20px;

    .section-title {
        grid-area: 2 / 1 / 3 / -1;
        justify-self: center;
    }

    .toolset-subgrid {
        grid-area: 3 / 5 / 5 / span 6;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;

        @media all and (max-width: 1000px) {
            grid-area: 3 / 4 / 5 / span 8;
        }

        @media all and (max-width: 800px) {
            grid-area: 3 / 2 / 5 / span 12;

        }

        @media all and (max-width: 500px) {
            grid-area: 3 / 3 / 5 / span 10;
            grid-template-columns: repeat(4, 1fr);
        }

        .tool-item {
            width: 100%;
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

            &:hover {
                transform: scale(0.7);
            }
        }
    }
}

// Section - Welcome
.section-welcome {
    padding: 100px 0px;

    .welcome-text {
        grid-column: 5 / span 6;
        text-align: center;

        @media all and (max-width: 800px) {
            grid-column: 2 / span 12;
        }
    }

    .btn {
        width: 100%;
        grid-area: 2/6/3/span 4;

        @media all and (max-width: 800px) {
            grid-area: 2/4/3/span 8;
        }

        @media all and (max-width: 500px) {
            grid-area: 2/2/3/span 12;
        }
    }
}

// Section - Poetry Out Loud
.section-pol {
    margin: 10% 0px;
    background-color: $lightblue;
    position: relative;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100px;
        background-size: cover;
        right: 0px;
        left: 0px;
        top: -100px;
        background-image: url('../img/blue-bg.svg');
    }

    &:after {
        transform: rotateX(180deg) rotateY(180deg);
        bottom: -100px;
        top: auto;
    }

    @media all and (max-width: 900px){
        margin: 15% 0px;
    }

    .section-title {
        grid-area: 2/3/3/span 3;

        @media all and (max-width: 1100px) {
            grid-area: 2/4/3/span 6;
        }

        @media all and (max-width: 800px) {
            grid-area: 2/2/3/span 12;
        }

        color: $blue;
        text-align: left;
        width: 100%;
    }

    .project-description {
        grid-area: 3/3/4/span 4;

        @media all and (max-width: 1100px) {
            grid-area: 3/4/4/span 8;
        }

        @media all and (max-width: 800px) {
            grid-area: 3/2/4/span 12;
        }
    }

    .btn {
        width: 100%;
        grid-area: 4/3/5/span 4;

        @media all and (max-width: 1100px) {
            grid-area: 4/4/5/span 5;
        }

        @media all and (max-width: 800px) {
            grid-area: 4/2/5/span 6;
        }

        @media all and (max-width: 500px) {
            grid-area: 4/2/5/span 12;
        }
    }

    .project-visual {
        grid-area: 2/7/6/span 6;
        transform: scale(.93);
        @media all and (max-width: 1100px) {
            grid-area: 6/4/7/span 8;
            transform: translateX(0px);
            transform: scale(1);
        }

        @media all and (max-width: 800px) {
            grid-area: 6/2/7/span 12;
        }

        background-size: 100%;
        background-image: url("../img/pol-home-full.png");
        background-repeat: no-repeat;
        background-position-y: -2%;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
        transition: background-position-y 10s cubic-bezier(.25, .8, .25, 1);

        &:hover {
            background-position-y: 100%;
        }

        img {
            width: 100%;
            display: block;
        }
    }

    .project-gallery {
        grid-area: 12/2/13/span 12;
        width: 100%;

        @media all and (max-width: 1100px) {
            grid-area: 10/4/11/span 8;
        }

        @media all and (max-width: 800px) {
            grid-area: 8/2/9/span 12;
        }

        .gallery-subgrid {
            grid-gap: 20px;
            grid-template-columns: repeat(6, 1fr);

            @media all and (max-width: 1100px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto auto;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

// Section - Research Portal
.section-research-portal {
    margin: 20% 0px;
    @media all and (max-width: 900px){
        margin: 25% 0px;
    }
    position: relative;
    z-index: 10;
    grid-gap: 20px;

    .bg {
        width: 100%;
        z-index: 1;
        grid-area: 1/3/9/span 10;
        background-color: $lightpurple;
        border-radius: 30px;
        padding: 0px 20px;

        @media all and (max-width: 1100px) {
            grid-area: 1/3/12/span 10;

        }

        @media all and (max-width: 800px) {
            grid-area: 1/1/12/-1;
            padding: 0px;
            transform: scale(.97);

        }
    }

    .section-title {
        color: $purple;
        grid-area: 3/9/4/span 4;
        z-index: 10;
        text-align: left;
        width: 100%;

        @media all and (max-width: 1100px) {
            grid-area: 3/4/4/span 5;
        }

        @media all and (max-width: 800px) {
            grid-area: 3/2/4/span 12;
        }
    }

    .rpmock {
        width: 100%;
        margin-bottom: 1em;
        z-index: 10;
        grid-area: 4/9/5/span 4;

        @media all and (max-width: 1100px) {
            display: none;
        }
    }

    .project-description {
        grid-area: 5/9/6/span 4;
        z-index: 10;

        @media all and (max-width: 1100px) {
            grid-area: 4/4/5/span 8;
        }

        @media all and (max-width: 800px) {
            grid-area: 4/2/5/span 12
        }
    }

    @include btn ($purple);

    .btn {
        width: 100%;
        z-index: 10;
        grid-area: 6/9/7/span 4;

        @media all and (max-width: 1100px) {
            grid-area: 5/4/5/span 5;
            align-self: flex-end;
        }

        @media all and (max-width: 800px) {
            grid-area: 5/2/6/span 6;
        }

        @media all and (max-width: 500px) {
            grid-area: 5/2/6/span 12;
        }
    }

    .rp1 {
        position: absolute;
        z-index: 10;
        grid-area: 3/3/7/span 5;
        transform: translateY(-20%) translateX(-5%);
        width: 90%;

        @media all and (max-width: 1100px) {
            position: relative;
            width: 100%;
            transform: translateY(0%) translateX(0%);
            grid-area: 7/4/8/span 5;
        }

        @media all and (max-width: 800px) {
            grid-area: 7/2/8/span 8;
        }

        @media all and (max-width: 500px) {
            width: 100%;
            grid-area: 7/2/8/span 12;
        }
    }

    .rp2 {
        position: absolute;
        z-index: 10;
        grid-area: 3/3/7/span 5;
        transform: translateY(30%) translateX(10%);
        width: 90%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        @media all and (max-width: 1100px) {
            position: relative;
            width: 100%;
            transform: translateY(10%) translateX(0%);
            grid-area: 7/7/8/span 5;
        }

        @media all and (max-width: 800px) {
            grid-area: 7/6/8/span 8;
        }

        @media all and (max-width: 500px) {
            grid-area: 8/2/9/span 12;
            width: 100%;
        }
    }
}

// Section Triquarterly
.section-tq {
    position: relative;
    margin: 10% 0px;
    @media all and (max-width: 900px){
        margin: 15% 0px;
    }
    padding: 0% 0% 5% 0%;
    background-color: $darkblue;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100px;
        background-size: cover;
        right: 0px;
        left: 0px;
        top: -100px;
        background-image: url('../img/darkblue-bg.svg');
    }

    &:after {
        transform: rotateX(180deg) rotateY(180deg);
        bottom: -100px;
        top: auto;
    }

    .section-title {
        grid-area: 2/3/3/span 3;
        color: white;
        justify-self: flex-start;

        @media all and (max-width: 1100px) {
            grid-area: 2/4/3/span 6;
        }

        @media all and (max-width: 800px) {
            grid-area: 2/2/3/span 12;
        }
    }

    .project-description {
        grid-area: 3/3/4/span 6;

        @media all and (max-width: 1100px) {
            grid-area: 3/4/4/span 8;
        }

        @media all and (max-width: 800px) {
            grid-area: 3/2/4/span 12;
        }

        .sm-text {
            color: white;
        }
    }

    .btn {
        grid-area: 3/9/4/span 4;

        @media all and (max-width: 1100px) {
            grid-area: 4/4/5/span 5;
        }

        @media all and (max-width: 800px) {
            grid-area: 4/2/5/span 6;
        }

        @media all and (max-width: 500px) {
            grid-area: 4/2/5/span 12;
        }
    }

    .mobile-gallery {
        grid-area: 5/1/6/span 14;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .gallery-subgrid {
            transform: scale(1.1);
            grid-gap: 0px;
            grid-template-columns: repeat(4, minmax(300px, 1fr));
            grid-template-rows: 200px;
            img {
                width: 120%;
            }
        }
        @media all and (max-width: 1100px) {
            .gallery-subgrid{
                transform: scale(1);
            }
        }

        @media all and (max-width: 800px){
            .gallery-subgrid{
                grid-template-columns: repeat(4, minmax(200px, 1fr));
                grid-template-rows: 120px;
                img{
                    width: 100%;
                }
            }
        }

    }

    .desktop-gallery {
        grid-area: 6/3/7/span 10;
        margin-top: 10%;

        .gallery-subgrid {
            grid-gap: 0;
            grid-template-columns: repeat(4, 1fr);

            img {
                z-index: 1;
                width: 120%;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

                &:nth-of-type(2n) {
                    transform: translateY(-20%);
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                }

                &:nth-of-type(3) {
                    z-index: 10;
                }
            }
        }

        @media all and (max-width: 950px) {
            grid-area: 6/3/7/span 10;
            margin-top: 0;

            .gallery-subgrid {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;

                img {
                    width: 100%;

                    &:nth-of-type(2n) {
                        transform: translateY(0%);
                    }
                }
            }
        }

        @media all and (max-width: 950px) {
            grid-area: 6/2/7/span 12;
        }
    }

}

// Section My Damn Jam
.section-mdj {
    margin: 20% 0px 10% 0px;
    @media all and (max-width: 900px){
        margin: 25% 0px 10% 0px;
    }
    background-repeat: none;
    position: relative;
    .logo {
        grid-area: 1/10/2/span 3;
        width: 70%;
        justify-self: center;
        position: absolute;
    }
    .section-title {
        grid-area: 1/3/2/span 7;
        color: $green;
    }
    .project-description {
        grid-area: 2/3/3/span 7;
    }

    .btn{
        @include btn($green);
        grid-area: 3/3/4/span 4;    
    }


    @media all and (max-width: 1100px){
        .btn,
        .section-title,
        .project-description{
            grid-column: 4/span 5;
        }
        .logo {
            grid-column: 9/span 3;
        }
    }


    @media all and (max-width: 800px){
        .logo {
            grid-area: 1/5/2/span 6;
            width: 50%;
            justify-self: center;
            position: relative;
        }
        .section-title {
            grid-area: 2/2/3/span 12;
        }
        .project-description {
            grid-area: 3/2/4/span 12;
        }
        .btn{
            grid-area: 4/2/5/span 6;    
        }
    }

    @media all and (max-width: 500px){
        .logo {
            grid-column: 2/span 12;   
            width: 50%;
        }
        .btn{
            grid-column: 2/span 12;    
        }
    }


    .desktop-gallery {
        grid-area: 6/3/7/span 10;
        @media all and (max-width: 950px){
            grid-column: 2/span 12;
        }
    

        .gallery-subgrid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-gap: 20px;

            img {
                width: 100%;
                position: relative;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            .mdj-home {
                grid-area: 1/1/3/2;
            }

            .mdj-profile {
                grid-area: 1/2/2/3;
            }

            .mdj-single {
                grid-area: 2/2/3/3;
            }
        }
    }
}

// Clapper Thanks

.clapper {

    widows: 100%;
    margin: 25% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hands{
        display: block;
        max-width: 150px;
        justify-items: center;
    }
}

// Footer
.section-footer {
    margin: 30% 0px 0px 0px;
    @media all and (max-width: 900px){
        margin: 35% 0px 0px 0px;
    }
    position: relative;
    background-color: $lightblue;

    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100px;
        background-size: cover;
        right: 0px;
        left: 0px;
        top: -100px;
        background-image: url('../img/blue-bg.svg');
    }

    .nav-links {
        grid-area: 1/4/2/span 8;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: flex-start;

        @media all and (max-width:900px) {
            grid-area: 1/2/2/span 12;
        }

        @media all and (max-width:600px) {
            grid-template-columns: 1fr;
            grid-area: 1/2/2/span 12;
        }
    }

    .section-title {
        text-align: center;
        grid-area: 3/2/4/span 12;

    }

    .toolset-subgrid {
        display: grid;
        grid-gap: 10px;
        width: 100%;
        grid-template-columns: repeat(8, 1fr);
        grid-area: 4/6/5/span 4;

        @media all and (max-width:1100px) {
            grid-area: 4/5/5/span 6;
        }

        @media all and (max-width:900px) {
            grid-area: 4/2/5/span 12;
        }

        .tool-item {
            grid-area: auto;
            width: 100%;
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

            &:hover {
                transform: scale(0.7);
            }
        }
    }

    .copy {
        grid-area: 5/2/6/span 12;
        text-align: center;
        color: $gray;
    }
}