body {
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat";
}

h1 {
  font-size: 3em;
  font-weight: 800;
  margin: 0;
  color: #2E2E2E;
}

h2 {
  font-size: 2em;
  margin: 0;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  color: #939393;
  text-transform: uppercase;
}

h4 {
  font-size: .75em;
  font-weight: 400;
}

p {
  margin: 0;
  line-height: 1.5;
  color: #2E2E2E;
}

.text {
  font-size: 1.2em;
}

.sm-text {
  font-size: 1em;
}

.btn {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 700;
  padding: 1em;
  background-color: #0597E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #23affa;
}

.btn:focus {
  outline: none;
}

.btn:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.grid {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -ms-grid-columns: minmax(20px, 1fr) (minmax(0, 90px))[12] minmax(20px, 1fr);
      grid-template-columns: minmax(20px, 1fr) repeat(12, minmax(0, 90px)) minmax(20px, 1fr);
  grid-gap: 20px;
}

.section-introduction {
  padding: 100px 0px;
}

.section-introduction .avatar {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2 / span 12;
  overflow: hidden;
  border-radius: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.section-introduction .avatar img {
  max-width: 200px;
  display: block;
  width: 100%;
}

.section-introduction .name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2 / span 12;
  text-align: center;
}

.section-introduction .bio {
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-column: 5 / span 6;
  text-align: center;
}

@media all and (max-width: 800px) {
  .section-introduction .bio {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / span 12;
  }
}

.section-toolset {
  background-color: #F4F4F4;
  padding-bottom: 20px;
}

.section-toolset .section-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-area: 2 / 1 / 3 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.section-toolset .toolset-subgrid {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-area: 3 / 5 / 5 / span 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

@media all and (max-width: 1000px) {
  .section-toolset .toolset-subgrid {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-area: 3 / 4 / 5 / span 8;
  }
}

@media all and (max-width: 800px) {
  .section-toolset .toolset-subgrid {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 3 / 2 / 5 / span 12;
  }
}

@media all and (max-width: 500px) {
  .section-toolset .toolset-subgrid {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-area: 3 / 3 / 5 / span 10;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.section-toolset .toolset-subgrid .tool-item {
  width: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.section-toolset .toolset-subgrid .tool-item:hover {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.section-welcome {
  padding: 100px 0px;
}

.section-welcome .welcome-text {
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-column: 5 / span 6;
  text-align: center;
}

@media all and (max-width: 800px) {
  .section-welcome .welcome-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / span 12;
  }
}

.section-welcome .btn {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-area: 2/6/3/span 4;
}

@media all and (max-width: 800px) {
  .section-welcome .btn {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-area: 2/4/3/span 8;
  }
}

@media all and (max-width: 500px) {
  .section-welcome .btn {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 2/2/3/span 12;
  }
}

.section-pol {
  margin: 10% 0px;
  background-color: #D8EFFB;
  position: relative;
}

.section-pol:before, .section-pol:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  background-size: cover;
  right: 0px;
  left: 0px;
  top: -100px;
  background-image: url("../img/blue-bg.svg");
}

.section-pol:after {
  -webkit-transform: rotateX(180deg) rotateY(180deg);
          transform: rotateX(180deg) rotateY(180deg);
  bottom: -100px;
  top: auto;
}

@media all and (max-width: 900px) {
  .section-pol {
    margin: 15% 0px;
  }
}

.section-pol .section-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 2/3/3/span 3;
  color: #0597E5;
  text-align: left;
  width: 100%;
}

@media all and (max-width: 1100px) {
  .section-pol .section-title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: 2/4/3/span 6;
  }
}

@media all and (max-width: 800px) {
  .section-pol .section-title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 2/2/3/span 12;
  }
}

.section-pol .project-description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: 3/3/4/span 4;
}

@media all and (max-width: 1100px) {
  .section-pol .project-description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-area: 3/4/4/span 8;
  }
}

@media all and (max-width: 800px) {
  .section-pol .project-description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 3/2/4/span 12;
  }
}

.section-pol .btn {
  width: 100%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: 4/3/5/span 4;
}

@media all and (max-width: 1100px) {
  .section-pol .btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-area: 4/4/5/span 5;
  }
}

@media all and (max-width: 800px) {
  .section-pol .btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: 4/2/5/span 6;
  }
}

@media all and (max-width: 500px) {
  .section-pol .btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 4/2/5/span 12;
  }
}

.section-pol .project-visual {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-area: 2/7/6/span 6;
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
  background-size: 100%;
  background-image: url("../img/pol-home-full.png");
  background-repeat: no-repeat;
  background-position-y: -2%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: background-position-y 10s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-position-y 10s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media all and (max-width: 1100px) {
  .section-pol .project-visual {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-area: 6/4/7/span 8;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media all and (max-width: 800px) {
  .section-pol .project-visual {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 6/2/7/span 12;
  }
}

.section-pol .project-visual:hover {
  background-position-y: 100%;
}

.section-pol .project-visual img {
  width: 100%;
  display: block;
}

.section-pol .project-gallery {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-area: 12/2/13/span 12;
  width: 100%;
}

@media all and (max-width: 1100px) {
  .section-pol .project-gallery {
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-area: 10/4/11/span 8;
  }
}

@media all and (max-width: 800px) {
  .section-pol .project-gallery {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 8/2/9/span 12;
  }
}

.section-pol .project-gallery .gallery-subgrid {
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

@media all and (max-width: 1100px) {
  .section-pol .project-gallery .gallery-subgrid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

.section-pol .project-gallery .gallery-subgrid img {
  display: block;
  width: 100%;
  height: auto;
}

.section-research-portal {
  margin: 20% 0px;
  position: relative;
  z-index: 10;
  grid-gap: 20px;
}

@media all and (max-width: 900px) {
  .section-research-portal {
    margin: 25% 0px;
  }
}

.section-research-portal .bg {
  width: 100%;
  z-index: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 1/3/9/span 10;
  background-color: #F6F4F9;
  border-radius: 30px;
  padding: 0px 20px;
}

@media all and (max-width: 1100px) {
  .section-research-portal .bg {
    -ms-grid-row: 1;
    -ms-grid-row-span: 11;
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-area: 1/3/12/span 10;
  }
}

@media all and (max-width: 800px) {
  .section-research-portal .bg {
    -ms-grid-row: 1;
    -ms-grid-row-span: 11;
    grid-area: 1/1/12/-1;
    padding: 0px;
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
}

.section-research-portal .section-title {
  color: #401F68;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 3/9/4/span 4;
  z-index: 10;
  text-align: left;
  width: 100%;
}

@media all and (max-width: 1100px) {
  .section-research-portal .section-title {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-area: 3/4/4/span 5;
  }
}

@media all and (max-width: 800px) {
  .section-research-portal .section-title {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 3/2/4/span 12;
  }
}

.section-research-portal .rpmock {
  width: 100%;
  margin-bottom: 1em;
  z-index: 10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 4/9/5/span 4;
}

@media all and (max-width: 1100px) {
  .section-research-portal .rpmock {
    display: none;
  }
}

.section-research-portal .project-description {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 5/9/6/span 4;
  z-index: 10;
}

@media all and (max-width: 1100px) {
  .section-research-portal .project-description {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-area: 4/4/5/span 8;
  }
}

@media all and (max-width: 800px) {
  .section-research-portal .project-description {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 4/2/5/span 12;
  }
}

.section-research-portal .btn {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 700;
  padding: 1em;
  background-color: #401F68;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.section-research-portal .btn:hover, .section-research-portal .btn:focus {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #582b8f;
}

.section-research-portal .btn:focus {
  outline: none;
}

.section-research-portal .btn:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section-research-portal .btn {
  width: 100%;
  z-index: 10;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 6/9/7/span 4;
}

@media all and (max-width: 1100px) {
  .section-research-portal .btn {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-area: 5/4/5/span 5;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media all and (max-width: 800px) {
  .section-research-portal .btn {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: 5/2/6/span 6;
  }
}

@media all and (max-width: 500px) {
  .section-research-portal .btn {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 5/2/6/span 12;
  }
}

.section-research-portal .rp1 {
  position: absolute;
  z-index: 10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: 3/3/7/span 5;
  -webkit-transform: translateY(-20%) translateX(-5%);
          transform: translateY(-20%) translateX(-5%);
  width: 90%;
}

@media all and (max-width: 1100px) {
  .section-research-portal .rp1 {
    position: relative;
    width: 100%;
    -webkit-transform: translateY(0%) translateX(0%);
            transform: translateY(0%) translateX(0%);
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-area: 7/4/8/span 5;
  }
}

@media all and (max-width: 800px) {
  .section-research-portal .rp1 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-area: 7/2/8/span 8;
  }
}

@media all and (max-width: 500px) {
  .section-research-portal .rp1 {
    width: 100%;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 7/2/8/span 12;
  }
}

.section-research-portal .rp2 {
  position: absolute;
  z-index: 10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: 3/3/7/span 5;
  -webkit-transform: translateY(30%) translateX(10%);
          transform: translateY(30%) translateX(10%);
  width: 90%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media all and (max-width: 1100px) {
  .section-research-portal .rp2 {
    position: relative;
    width: 100%;
    -webkit-transform: translateY(10%) translateX(0%);
            transform: translateY(10%) translateX(0%);
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-area: 7/7/8/span 5;
  }
}

@media all and (max-width: 800px) {
  .section-research-portal .rp2 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 6;
    -ms-grid-column-span: 8;
    grid-area: 7/6/8/span 8;
  }
}

@media all and (max-width: 500px) {
  .section-research-portal .rp2 {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 8/2/9/span 12;
    width: 100%;
  }
}

.section-tq {
  position: relative;
  margin: 10% 0px;
  padding: 0% 0% 5% 0%;
  background-color: #002A52;
}

@media all and (max-width: 900px) {
  .section-tq {
    margin: 15% 0px;
  }
}

.section-tq:before, .section-tq:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  background-size: cover;
  right: 0px;
  left: 0px;
  top: -100px;
  background-image: url("../img/darkblue-bg.svg");
}

.section-tq:after {
  -webkit-transform: rotateX(180deg) rotateY(180deg);
          transform: rotateX(180deg) rotateY(180deg);
  bottom: -100px;
  top: auto;
}

.section-tq .section-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 2/3/3/span 3;
  color: white;
  justify-self: flex-start;
}

@media all and (max-width: 1100px) {
  .section-tq .section-title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: 2/4/3/span 6;
  }
}

@media all and (max-width: 800px) {
  .section-tq .section-title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 2/2/3/span 12;
  }
}

.section-tq .project-description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-area: 3/3/4/span 6;
}

@media all and (max-width: 1100px) {
  .section-tq .project-description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-area: 3/4/4/span 8;
  }
}

@media all and (max-width: 800px) {
  .section-tq .project-description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 3/2/4/span 12;
  }
}

.section-tq .project-description .sm-text {
  color: white;
}

.section-tq .btn {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 3/9/4/span 4;
}

@media all and (max-width: 1100px) {
  .section-tq .btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-area: 4/4/5/span 5;
  }
}

@media all and (max-width: 800px) {
  .section-tq .btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: 4/2/5/span 6;
  }
}

@media all and (max-width: 500px) {
  .section-tq .btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 4/2/5/span 12;
  }
}

.section-tq .mobile-gallery {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-area: 5/1/6/span 14;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.section-tq .mobile-gallery .gallery-subgrid {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  grid-gap: 0px;
  -ms-grid-columns: (minmax(300px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(300px, 1fr));
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
}

.section-tq .mobile-gallery .gallery-subgrid img {
  width: 120%;
}

@media all and (max-width: 1100px) {
  .section-tq .mobile-gallery .gallery-subgrid {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media all and (max-width: 800px) {
  .section-tq .mobile-gallery .gallery-subgrid {
    -ms-grid-columns: (minmax(200px, 1fr))[4];
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    -ms-grid-rows: 120px;
        grid-template-rows: 120px;
  }
  .section-tq .mobile-gallery .gallery-subgrid img {
    width: 100%;
  }
}

.section-tq .desktop-gallery {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 6/3/7/span 10;
  margin-top: 10%;
}

.section-tq .desktop-gallery .gallery-subgrid {
  grid-gap: 0;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.section-tq .desktop-gallery .gallery-subgrid img {
  z-index: 1;
  width: 120%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section-tq .desktop-gallery .gallery-subgrid img:nth-of-type(2n) {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section-tq .desktop-gallery .gallery-subgrid img:nth-of-type(3) {
  z-index: 10;
}

@media all and (max-width: 950px) {
  .section-tq .desktop-gallery {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-area: 6/3/7/span 10;
    margin-top: 0;
  }
  .section-tq .desktop-gallery .gallery-subgrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .section-tq .desktop-gallery .gallery-subgrid img {
    width: 100%;
  }
  .section-tq .desktop-gallery .gallery-subgrid img:nth-of-type(2n) {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media all and (max-width: 950px) {
  .section-tq .desktop-gallery {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 6/2/7/span 12;
  }
}

.section-mdj {
  margin: 20% 0px 10% 0px;
  background-repeat: none;
  position: relative;
}

@media all and (max-width: 900px) {
  .section-mdj {
    margin: 25% 0px 10% 0px;
  }
}

.section-mdj .logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: 1/10/2/span 3;
  width: 70%;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
}

.section-mdj .section-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: 1/3/2/span 7;
  color: #10CB82;
}

.section-mdj .project-description {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: 2/3/3/span 7;
}

.section-mdj .btn {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: 3/3/4/span 4;
}

.section-mdj .btn .btn {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 700;
  padding: 1em;
  background-color: #10CB82;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.section-mdj .btn .btn:hover, .section-mdj .btn .btn:focus {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #21ed9d;
}

.section-mdj .btn .btn:focus {
  outline: none;
}

.section-mdj .btn .btn:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media all and (max-width: 1100px) {
  .section-mdj .btn,
  .section-mdj .section-title,
  .section-mdj .project-description {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4/span 5;
  }
  .section-mdj .logo {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9/span 3;
  }
}

@media all and (max-width: 800px) {
  .section-mdj .logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-area: 1/5/2/span 6;
    width: 50%;
    -ms-grid-column-align: center;
        justify-self: center;
    position: relative;
  }
  .section-mdj .section-title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 2/2/3/span 12;
  }
  .section-mdj .project-description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 3/2/4/span 12;
  }
  .section-mdj .btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: 4/2/5/span 6;
  }
}

@media all and (max-width: 500px) {
  .section-mdj .logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/span 12;
    width: 50%;
  }
  .section-mdj .btn {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/span 12;
  }
}

.section-mdj .desktop-gallery {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 6/3/7/span 10;
}

@media all and (max-width: 950px) {
  .section-mdj .desktop-gallery {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/span 12;
  }
}

.section-mdj .desktop-gallery .gallery-subgrid {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 20px;
}

.section-mdj .desktop-gallery .gallery-subgrid img {
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section-mdj .desktop-gallery .gallery-subgrid .mdj-home {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
}

.section-mdj .desktop-gallery .gallery-subgrid .mdj-profile {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

.section-mdj .desktop-gallery .gallery-subgrid .mdj-single {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

.clapper {
  widows: 100%;
  margin: 25% 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clapper .hands {
  display: block;
  max-width: 150px;
  justify-items: center;
}

.section-footer {
  margin: 30% 0px 0px 0px;
  position: relative;
  background-color: #D8EFFB;
}

@media all and (max-width: 900px) {
  .section-footer {
    margin: 35% 0px 0px 0px;
  }
}

.section-footer:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  background-size: cover;
  right: 0px;
  left: 0px;
  top: -100px;
  background-image: url("../img/blue-bg.svg");
}

.section-footer .nav-links {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-area: 1/4/2/span 8;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media all and (max-width: 900px) {
  .section-footer .nav-links {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 1/2/2/span 12;
  }
}

@media all and (max-width: 600px) {
  .section-footer .nav-links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 1/2/2/span 12;
  }
}

.section-footer .section-title {
  text-align: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-area: 3/2/4/span 12;
}

.section-footer .toolset-subgrid {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  width: 100%;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-area: 4/6/5/span 4;
}

@media all and (max-width: 1100px) {
  .section-footer .toolset-subgrid {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-area: 4/5/5/span 6;
  }
}

@media all and (max-width: 900px) {
  .section-footer .toolset-subgrid {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-area: 4/2/5/span 12;
  }
}

.section-footer .toolset-subgrid .tool-item {
  grid-area: auto;
  width: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.section-footer .toolset-subgrid .tool-item:hover {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.section-footer .copy {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-area: 5/2/6/span 12;
  text-align: center;
  color: #939393;
}
/*# sourceMappingURL=style.css.map */