body{
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat";
}

// Colors
$black: #2E2E2E;
$blue: #0597E5;
$darkblue: #002A52;
$lightblue: #D8EFFB;
$lightgray: #F4F4F4;
$gray: #939393;
$purple: #401F68;
$lightpurple: #F6F4F9;
$green: #10CB82;

// Type

h1{
 font-size: 3em;
 font-weight: 800;   
 color: $black;
 margin: 0;
}

h2{
    font-size: 2em;
    margin: 0;
}

h3{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    color: $gray;
}

h4{
    font-size: .75em;
    font-weight: 400;
}

.text{
    font-size: 1.2em;
    line-height: 1.5;
    color: $black;
}

.sm-text{
    font-size: 1em;
    line-height: 1.5;
    color: $black;
}

// Atoms

@mixin btn($color: $blue){
    .btn{
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        padding: 1em;
        display: block;
        background-color: $color;
        border-radius: 4px;
        width: 100%;
        color: white;
        font-size: 1em;
        font-weight: 700;
        justify-content: center;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);    
        &:hover,
        &:focus{
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            background-color: lighten($color, 10%);
        }    
        &:focus{
            outline: none;
        }
        &:active{
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    }    
}

@include btn($blue);

// Molecules
.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    @include btn($blue);
    .btn{
        margin: 0px 10px;
        max-width: 250px;
    }
}

// Grid Layout
.grid{
    display: grid;
    justify-items: center;
}

// Sections - Introduction
.section-introduction{
    grid-template-columns: minmax(20px, 1fr) minmax(300px, 600px) minmax(20px, 1fr);
    grid-template-areas: ". top ."
                         ". mid ."
                         ". bot .";
    row-gap: 40px;
    padding: 100px 0px;

    .avatar{
        display: block;
        margin: auto;
        max-width: 250px;
        overflow: hidden;
        border-radius: 100%;
        grid-area: top;
        img{
            display: block;
            width: 100%;
        }
    }
    .bio{
        display: block;
        grid-area: mid;
        .name{
            text-align: center;
        }
        .text{
            text-align: center;
            margin: auto;
            margin-top: 20px;

        }
    }
    .nav-links{
        grid-area: bot;
    }

}

// Section - Welcome
.section-welcome{
    grid-template-columns: minmax(20px, 1fr) minmax(300px, 650px) minmax(20px, 1fr);
    grid-template-areas: ". top ."
                         ". mid ."
                         ". bot .";
    row-gap: 20px;
    padding: 50px 0px;
    .text{
        grid-area: top;
        text-align: center;
    }
    .nav-links{
        grid-area: bot;
    }
}

// Section - Toolset
.section-toolset{
    grid-template-columns: minmax(20px, 1fr) minmax(300px, 650px) minmax(20px, 1fr);
    grid-template-areas: ". top ."
                         ". bot .";
    background-color: $lightgray;
    padding: 20px 0px 40px 0px;
    .section-title{
        grid-area: top;
        text-align: center;
        margin-bottom: 20px;
    }
    .toolset-subgrid{
        grid-area: bot;
        display: grid;
        gap: 10px;
        width: 100%;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr 1fr;
        .tool-item{
            grid-area: auto;
            width: 100%;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);    
            &:hover{
                transform: scale(0.7);
            }
        }    
    }
}

// Section - Poetry Out Loud
.section-pol{
    position: relative;
    margin: 7em 0px;
    padding: 3em 0px;
    grid-template-columns: minmax(20px, 1fr) minmax(200px, 350px) minmax(300px, 650px) minmax(20px, 1fr);
    grid-template-areas: ". desc img ."
                         ". gall gall .";
    grid-gap: 100px;
    background-color: $lightblue;
    &:before,
    &:after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100px;
        background-size: cover;
        right: 0px;
        left: 0px;
        top: -100px;
        background-image: url('../img/blue-bg.svg');
    }
    &:after{
        // transform: rotateX(180deg);
        transform: rotateX(180deg) rotateY(180deg);
        bottom: -100px;
        top: auto;
    }

    @media all and (max-width: 840px){
        grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: ". desc ."
                             ". img ."
                             ". gall .";
    }

    .project-description{
        grid-area: desc;
        .section-title{
            color: $blue;
        }
        .text{

        }
        .btn{

        }
    }
    
    .project-visual{
        align-self: center;
        grid-area: img;
        background-size: 100%;
        background-image: url("../img/pol-home-full.png");
        background-repeat: no-repeat;
        background-position-y: -2%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transition: all 10s cubic-bezier(.25,.8,.25,1);    ;
        &:hover{
            background-position-y: 100%;
        }

        img{
            width: 100%;
            display: block;
        }
    }

    .project-gallery{
        grid-area: gall;
        width: 100%;
        .gallery-subgrid{
            grid-gap: 10px;
            grid-template-columns: repeat(6, 1fr);
            @media all and (max-width: 840px){
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto auto;
            }
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

// Section - Research Portal
.section-research-portal{
    padding: 7em 0px;
    margin: 7em 0px;
    z-index: 10;
    grid-template-columns: 1fr minmax(300px, 600px) minmax(300px, 400px) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 100px;
    position: relative;
    .bg{
        width: 100%;
        z-index: 1;
        grid-column: 2/4;
        grid-row: 1/3; 
        background-color: $lightpurple;
        border-radius: 30px;
    }
    .project-description{
        padding: 3em;
        z-index: 10;
        grid-column: 3/4;
        grid-row: 1/3;
        .section-title{
            color: $purple;
        }
        .rpmock{
            width: 100%;
            margin-bottom: 1em;
        }    
        .text{

        }
        @include btn($purple);
    }

    .rp1{
        position: absolute;
        z-index: 10;
        grid-column: 2/3;
        grid-row: 1/2; 
        width: 80%;
        transform: translateY(-10%);

    }
    .rp2{
        position: absolute;
        z-index: 10;
        grid-column: 2/3;
        grid-row: 2/3; 
        width: 80%;
        transform: translateY(-30%) translateX(25%);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    }
}

// Section Triquarterly
.section-tq{
    position: relative;
    margin: 14em 0px;
    padding: 6em 0px 12em 0px;
    grid-template-columns: minmax(20px, 1fr) minmax(300px, 650px) minmax(200px, 350px) minmax(20px, 1fr);
    grid-template-rows: auto auto auto;
    grid-column-gap: 100px;
    @media all and (max-width: 840px){
        grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: ". desc ."
                             ". img ."
                             ". gall .";
    }
    background-color: $darkblue;
    &:before,
    &:after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100px;
        background-size: cover;
        right: 0px;
        left: 0px;
        top: -100px;
        background-image: url('../img/darkblue-bg.svg');
    }
    &:after{
        transform: rotateX(180deg) rotateY(180deg);
        bottom: -100px;
        top: auto;
    }
    
    .project-description{
        grid-column: 2/3;
        grid-row: 1/2;
        .section-title{
            color: $lightblue;
        }
        .rpmock{
            width: 100%;
        }    
        .sm-text{
            color: white;
        }
    }
    .button{
        grid-column: 3/4;
        grid-row: 1/2;
        @include btn($blue);


    }

    .mobile-gallery{
        grid-column: 1/5;
        grid-row: 2/3;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        .gallery-subgrid{

            width: 100%;
            grid-gap: 0px;
            grid-template-columns: repeat(4, minmax(300px, 1fr));
            grid-template-rows: 200px auto;
            img{
                width: 120%;
            }
        }

    }
    .desktop-gallery{
        grid-column: 2/4;
        grid-row: 3/4;
        width: 100%;

        .gallery-subgrid{
            max-width: 1100px;
            margin-top: 4em;
            grid-gap: 0;
            grid-template-columns: repeat(4, 1fr);
            img{
                z-index: 1;
                width: 120%;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);           
                &:nth-of-type(2n){
                    transform: translateY(-20%);
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                }
                &:nth-of-type(3){
                    z-index: 10;
                }
            }
        }
    }

}

// Section My Damn Jam
.section-mdj{
    padding: 100px 0px;
    background-repeat: none;
    grid-template-columns: minmax(20px, 1fr) minmax(200px, 250px) minmax(300px, 700px) minmax(20px, 1fr);
    grid-template-areas: ". img desc ."
                         ". gall gall .";
    grid-gap: 20px;

    grid-template-rows: auto auto auto;
    grid-column-gap: 100px;


    .logo{
        grid-area: img;
        width: 100%;
    }
    .project-description{
        grid-area: desc;
        .section-title{
            color: $green;
        }
        @include btn($green);
    }
    .desktop-gallery{
        grid-area: gall;
        .gallery-subgrid{
            grid-template-columns: auto minmax(200px, 400px) minmax(200px, 400px) auto;
            grid-template-rows: auto auto;
            grid-gap: 30px;
            img{
                width: 100%;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

            }
            .mdj-home{
                grid-column: 2/3;
                grid-row: 1/3;
            }
            .mdj-profile{
                grid-row: 1/2;
                grid-column: 3/4;
            }
            .mdj-single{
                grid-row: 2/3;
                grid-column: 3/4;
            }
        }   
    }
}

// Clapper Thanks

.clapper{
    margin: auto;
    width: 150px;
    display: block; 
    margin-bottom: 15em;

}

// Footer
.section-footer{
    position: relative;
    background-color: $lightblue;
    grid-template-columns: minmax(20px, 1fr) minmax(300px, 600px) minmax(20px, 1fr);
    grid-template-areas: ". top ."
                         ". mid ."
                         ". bot .";
    row-gap: 40px;
    padding: 100px 0px;
    margin-top: 5em;
    &:before,
    &:after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100px;
        background-size: cover;
        right: 0px;
        left: 0px;
        top: -100px;
        background-image: url('../img/blue-bg.svg');
    }
    .nav-links{
        max-width: 1100px;
        margin: auto;
    }
    .section-builtwith{
        margin: 4em 0px;
        grid-template-columns: minmax(20px, 1fr) minmax(300px, 650px) minmax(20px, 1fr);
        grid-template-areas: ". top ."
                             ". bot .";

        padding: 20px 0px 40px 0px;
        .section-title{
            grid-area: top;
            text-align: center;
            margin-bottom: 20px;
        }
        .toolset-subgrid{
            grid-area: bot;
            display: grid;
            gap: 10px;
            width: 100%;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: 1fr 1fr;
            .tool-item{
                grid-area: auto;
                width: 100%;
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);    
                &:hover{
                    transform: scale(0.7);
                }
            }    
        }
    }

    .copy{
        text-align: center;
        color: $gray;
    }

}